* {
  border: 0;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  background-image: url(images/bg-desktop.svg);
  background-color: hsl(257, 40%, 49%);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  margin: 3rem 4rem;
}
.logo {
  margin-bottom: 3rem;
  margin-top: 1rem;
}
.image-text {
  display: flex;
  justify-content: space-between;
  width: 90vw;
}
.image-text img {
  width: auto;
}
.text-button {
  margin-left: 4rem;
  margin-top: 3rem;
}
.text {
  margin-bottom: 1rem;
}
h1 {
  font-family: poppins, sans-serif;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
p {
  font-size: 1.1rem;
  font-weight: 500;
  color: hsl(0, 0%, 100%);
  opacity: 0.9;
  line-height: 1.5rem;
}
button {
  padding: 1rem 3rem;
  border: 0;
  border-radius: 50px;
  color: hsl(257, 40%, 49%);
  border-style: double;
}
.social-links {
  list-style-type: none;
  display: flex;
  justify-content: end;
}
.social-links a {
  margin-left: 20px;
  border: 2px solid white;
  border-radius: 50px;
  color: white;
  width: 40px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.social-links a:hover {
  color: hsl(300, 69%, 71%);
  border: 2px solid hsl(300, 69%, 71%);
}
button:hover {
  background-color: hsl(300, 69%, 71%);
  color: white;
  cursor: pointer;
}
@media screen and (max-width: 1100px) {
  body {
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: 30px auto;
  }
  .logo img {
    width: 30%;
  }
  .image-text {
    flex-direction: column;
  }
  .image-text img{
    width: 100%;
  }
  .text-button {
    font-size: 0.2rem;
    text-align: center;
    margin: 40px 0 0 0;
  }
  h1 {
    font-size: 2.5rem;
  }
  p{
    font-size: 20px;
    font-weight: 100;
    line-height: 2rem;
  }
  button {
    width: 50%;
  }
  .social-links {
    justify-content: center;
    margin-top: 4rem;
  }
}
@media screen and (max-width: 500px) {
  body {
    justify-content: center;
    align-items: center;
    width: 100px;
    margin: 30px auto;
  }
  .logo img {
    width: 30%;
  }
  .text-button {
    font-size: 0.2rem;
    text-align: center;
    margin: 20px 0 0 0;
  }
  button {
    width: 40%;
  }
}
